* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

body {
    background-color:darkgrey;
}

header {
    width: 100%;
    max-width: 880px;
    padding: 0 20px;
    margin: auto;
    text-align: center;
}

.header {
    padding: 35px 0px 20px;
    color: blue;
    font-size: 250%;
}

.pageinfo {
    color: white;
    margin-bottom: 75px;
}

main {
    display: block;
}


section {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    flex: 1 1 31%;
    border: 2px dashed #fff;
    color: blue;
    padding: 0 15px 15px;
    margin: 0 20px 40px;
}

.card .title {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}


.card:hover, .card:hover .title {
    box-shadow: inset 0px 0px 8px
    lightblue, 0 0 15px
    blue;
}

.title {
    font-size: 150%;
    width: 90%;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    top: -20px;
    background-color: darkgray;
    margin: auto;
    padding: 5px;
}

.explanation {
    display: block;
    font-size: 120%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card pre {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(180deg, rgb(92, 185, 215), rgb(5, 5, 231));
    font-size: 100%;
    user-select: all;
}

.end {
    text-align: center;
    font-size: 210%;
    color: rgb(142, 221, 248);
}

/* Credit for heart goes to https://css-tricks.com/hearts-in-html-and-css/ */
.heart {
    background-color: red;
    display: inline-block;
    height: 25px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 25px;
    position: absolute;
    width: 25px;
  }
  
  .heart:before {
    top: -15px;
    left: 0;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  }

  @media screen and (max-width: 1000px) {
    section {
        display:grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 700px){
    section {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
  }